version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: app/backend/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./runtime:/code/runtime
      - ./engine-KB:/code/engine-KB
      - ./app:/code/app
    env_file:
      - .env

  frontend:
    build:
      context: ./app/frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - BACKEND_URL=http://backend:8000
    depends_on:
      - backend

# Docker-compose will automatically create a network for these services
