name: Deploy PalmX Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Copy project to production folder
        run: |
          rsync -av --delete ./ /var/app/PalmX/

      - name: Install dependencies
        run: |
          cd /var/app/PalmX
          python3 -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install gunicorn

      - name: Restart Backend Service
        run: sudo systemctl restart palmx-backend
