name: Deploy to Azure VM

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Run script
        run: |
          echo "Running on Azure VM"
          hostname
